body {
    background-color: #20091E;
    font-family: helvetica;
    color: #EFEFEF;
    font-size: 24px;
}

.intro {
    text-align: center;
}

.ingredients {
    margin: auto 20%;
}

.directions {
    margin: auto 20%;
}

.directions li {
    margin: 8px;
}
.title {
    font-size: 50px;
}

.ingredients li {
    margin: 2px;
}

.ingredient {
    color: #87F2DF;
}
