body {
    font-family: helvetica;
    background-color: #000000;
}
    

.sidebar {
    width: 240px;
    position: fixed;
    height: 100%;
    background-color: #2C0A1E;
    top: 0;
    left: 0;
    padding-left: 50px;
}
.sidebar a {
    margin: 10px;
    padding: 5px;
    color: #FFBFEF;
    font-size: 20px;
    background-color: #402020;
}
.main {
    width: 70%;
    font-size: 20px;
    color: #FABAEA;
}
.box {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    background-color: #2C0A1E;
    min-height: 96vh;
}

.main a {
    color: #F0C000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    
.name {
    font-size: 60px;
    color: #FABAEA;
}

.title {
    font-size: 50px;
}

img {
    max-width: 95%;
    margin: 2%;
    
}

.imggrid {
    display: grid;
    grid-template-columns: 50% auto;
}
