body {
    font-family: arial;
    background-color: #000000;
}
    

.sidebar {
    width: 240px;
    position: fixed;
    height: 100%;
    background-color: #20091E;
    top: 0;
    left: 0;
    padding-left: 50px;
}
.sidebar a {
    margin-bottom: 12px;
    margin-right: 40px;
    padding: 5px;
    color: #EAEAEA;
    font-size: 20px;
    border-style: solid;
    border-color: #EAEAEA;
    display: block;
}
.main {
    width: 70%;
    font-size: 20px;
    color: #EAEAEA;
}
.box {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    background-color: #20091E;
    min-height: 96vh;
}

.main a {
    color: #57C9FF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    
.name {
    font-size: 60px;
    color: #EAEAEA;
}

.title {
    font-size: 50px;
}

img {
    max-width: 95%;
    margin: 2%;
    
}

.imggrid {
    display: grid;
    grid-template-columns: 50% auto;
}
